<a href="https://colab.research.google.com/github/PythonDecorator/AI_Data_Science_MSC/blob/Assignment-2025-july-data-processing/MSC_AI_%26_DATA_SCIENCE_ASSIGNMENT_JULY_2025_AMOS_OKPE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# MSC AI & DATA SCIENCE ASSIGNMENT

---


> **Module**: MSc ‚Äì Introduction to Programming for AI and Data Science  
**Assignment Title**: Data Pre-processing  
**Student Name**: Amos Orevaoghene Okpe  
**Date**: July 2025

---

<br>

<p align="center">
  <img src="https://res.cloudinary.com/dhqdentd8/image/upload/v1751731557/intro_image_gqdvqj.jpg" width="90%" alt="Data Science Icon"/>
</p>

## üìò Introduction

This notebook presents a complete solution to the course assignment titled **"Customer Data Pre-processing"** for the module *Introduction to Programming for Artificial Intelligence and Data Science*.

The objective is to:
- Process raw customer data exported from a company's system.
- Clean, restructure, and transform the data into a nested JSON format.
- Generate filtered subsets and calculate custom metrics.
- Visualize key patterns using **Pandas** and **Seaborn**.

All tasks are performed using **Python‚Äôs standard libraries**, and the output files and visualizations are saved as required by the submission guidelines.

## üìÇ About the Dataset

The dataset `acw_user_data.csv` contains customer records exported from a legacy company system. Each row represents a customer and includes a range of attributes such as:

- **Personal Information**: First name, surname, marital status, dependants, etc.
- **Vehicle Details**: Make, model, year, and type of vehicle.
- **Credit Card Info**: Card number, start and end date, IBAN, and security code.
- **Address Details**: Main address, city, and postcode.
- **Employment & Commute**: Employer name, salary, and commute distance.

The dataset is structured as a **flat CSV file**, which is not suitable for direct analysis. A major part of this coursework is to **transform this flat structure into a nested JSON representation**, clean potential data issues, and
derive useful additional metrics.

### üìå Source of Data
This is a **synthetic dataset** provided as part of the MSc module *"Introduction to Programming for Artificial Intelligence and Data Science"*. It was designed for academic purposes and simulates real-world customer data, including potential formatting inconsistencies and relationships across fields.
<br>

---

# Import Statements

In [160]:
# Importing standard Python libraries for data processing and file handling
import csv
import json
import os
import sys
from datetime import datetime

> üìÅ **Working from Google Drive**

If you're running this notebook on **Google Colab**, you'll need to **mount your Google Drive** to access the dataset (`acw_user_data.csv`).

If you're **not using Google Drive**, feel free to **skip or comment out** the next cell.

In [161]:
# Mount Google Drive (only needed if you're running from Google Colab and using Drive)
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Data Processing

## Load the Dataset

The first task involves loading the flat CSV file `acw_user_data.csv` using the built-in `csv` module. This will allow us to parse the file into a list of dictionaries for easier processing in subsequent tasks.

The data will be previewed to confirm correct parsing.

 - Replace the line below with the correct file path
```
file_path = '/content/drive/MyDrive/University of Hull/Assignment-Data-Processing/acw_user_data.csv'
```

In [162]:
# Replace the line below with the correct file path..
file_path = '/content/drive/MyDrive/University of Hull/Assignment-Data-Processing/acw_user_data.csv'

### Task 1 ‚Äì Read the provided ACW Data using the csv library

In [163]:
data = []  # this will hold all records

# Open the CSV file
with open(file_path, mode='r') as file:
    reader = csv.DictReader(file)
    headers = reader.fieldnames
    for row in reader:
        data.append(row)

Let's take a look at the headers, first and last row of out data.

In [164]:
# preview our data, to get some insight
print(f"Number of rows (records): {len(data)}")
print(f"Number of columns: {len(headers)}")
print(f"Column headers:")

for i, header in enumerate(headers, start=1):
    print(f"{i:2}. {header}")

Number of rows (records): 1000
Number of columns: 23
Column headers:
 1. Address Street
 2. Address City
 3. Address Postcode
 4. Age (Years)
 5. Distance Commuted to Work (Km)
 6. Employer Company
 7. Credit Card Start Date
 8. Credit Card Expiry Date
 9. Credit Card Number
10. Credit Card CVV
11. Dependants
12. First Name
13. Bank IBAN
14. Last Name
15. Marital Status
16. Yearly Pension (Dollar)
17. Retired
18. Yearly Salary (Dollar)
19. Sex
20. Vehicle Make
21. Vehicle Model
22. Vehicle Year
23. Vehicle Type

In [165]:
print(f"First row: {data[0]}")
print(f"Last row: {data[-1]}")

First row: {'Address Street': '70 Lydia isle', 'Address City': 'Lake Conor', 'Address Postcode': 'S71 7XZ', 'Age (Years)': '89', 'Distance Commuted to Work (Km)': '0', 'Employer Company': 'N/A', 'Credit Card Start Date': '08/18', 'Credit Card Expiry Date': '11/27', 'Credit Card Number': '676373692463', 'Credit Card CVV': '875', 'Dependants': '3', 'First Name': 'Kieran', 'Bank IBAN': 'GB62PQKB71416034141571', 'Last Name': 'Wilson', 'Marital Status': 'married or civil partner', 'Yearly Pension (Dollar)': '7257', 'Retired': 'True', 'Yearly Salary (Dollar)': '72838', 'Sex': 'Male', 'Vehicle Make': 'Hyundai', 'Vehicle Model': 'Bonneville', 'Vehicle Year': '2009', 'Vehicle Type': 'Pickup'}
Last row: {'Address Street': 'Flat 9 Mohamed route', 'Address City': 'West Glen', 'Address Postcode': 'LL3M 4WS', 'Age (Years)': '80', 'Distance Commuted to Work (Km)': '0', 'Employer Company': 'N/A', 'Credit Card Start Date': '12/14', 'Credit Card Expiry Date': '01/16', 'Credit Card Number': '180020306382110', 'Credit Card CVV': '903', 'Dependants': '1', 'First Name': 'Sheila', 'Bank IBAN': 'GB45ORXV49380519147072', 'Last Name': 'Russell', 'Marital Status': 'single', 'Yearly Pension (Dollar)': '22869', 'Retired': 'True', 'Yearly Salary (Dollar)': '25788', 'Sex': 'Female', 'Vehicle Make': 'Geo', 'Vehicle Model': 'S7', 'Vehicle Year': '1993', 'Vehicle Type': 'Van/Minivan'}

In [166]:
# lets Check our first row and also check the data types
print("\nFirst row:")
for header, value in data[0].items():
    print(f"{header}: {value} - {type(value)}")

First row:
Address Street: 70 Lydia isle - <class 'str'>
Address City: Lake Conor - <class 'str'>
Address Postcode: S71 7XZ - <class 'str'>
Age (Years): 89 - <class 'str'>
Distance Commuted to Work (Km): 0 - <class 'str'>
Employer Company: N/A - <class 'str'>
Credit Card Start Date: 08/18 - <class 'str'>
Credit Card Expiry Date: 11/27 - <class 'str'>
Credit Card Number: 676373692463 - <class 'str'>
Credit Card CVV: 875 - <class 'str'>
Dependants: 3 - <class 'str'>
First Name: Kieran - <class 'str'>
Bank IBAN: GB62PQKB71416034141571 - <class 'str'>
Last Name: Wilson - <class 'str'>
Marital Status: married or civil partner - <class 'str'>
Yearly Pension (Dollar): 7257 - <class 'str'>
Retired: True - <class 'str'>
Yearly Salary (Dollar): 72838 - <class 'str'>
Sex: Male - <class 'str'>
Vehicle Make: Hyundai - <class 'str'>
Vehicle Model: Bonneville - <class 'str'>
Vehicle Year: 2009 - <class 'str'>
Vehicle Type: Pickup - <class 'str'>

‚ùå From the above output we can see that the data types are all string, hence we will need to do some data casting to convert relevant fields like age, yearly salary, ect to float or integer, for easy manipulation and calculation later.

### Task 2 ‚Äì Convert Flat CSV Records into Nested Structures

The raw data read from the CSV file is completely flat, meaning each customer's attributes are stored as separate keys. To better represent the data and prepare it for JSON export, we will group related fields into **nested dictionaries**, including:

- üì¶ **Vehicle** ‚Üí `make`, `model`, `year`, `type`
- üí≥ **Credit Card** ‚Üí `start_date`, `end_date`, `number`, `security_code`, `iban`
- üè† **Address** ‚Üí `address`, `city`, `postcode`

All other fields remain at the top level. Data types will also be cast appropriately (e.g., integers for year, floats for salary).

In [167]:
# Transform flat records into nested dictionaries using correct keys from the result above
# Convert from str to correct data types

def transform_record(row: dict):
    """
    Converts flat records to nested dictionaries.
    Returns a dictionary or None if any error occurs during conversion.
    """
    try:
        # Convert numeric fields with appropriate types
        row['Vehicle Year'] = int(row.get('Vehicle Year', 0))
        row['Yearly Salary (Dollar)'] = float(row.get('Yearly Salary (Dollar)', 0))
        row['Distance Commuted to Work (Km)'] = float(row.get('Distance Commuted to Work (Km)', 0))
        row['Age (Years)'] = int(row.get('Age (Years)', 0))
        row['Yearly Pension (Dollar)'] = float(row.get('Yearly Pension (Dollar)', 0))

        # Convert Employer Company to None if N/A
        row['Employer Company'] = row.get("Employer Company").strip() if row.get("Employer Company") and row.get("Employer Company").strip().upper() != "N/A" else None

        # Build nested structure
        record = {
            "first_name": row.get("First Name"),
            "last_name": row.get("Last Name"),
            "sex": row.get("Sex"),
            "age": row['Age (Years)'],
            "marital_status": row.get("Marital Status"),
            "dependants": row['Dependants'],
            "employer": row.get("Employer Company"),
            "retired": row.get("Retired") == "True",  # convert to actual boolean
            "salary": row['Yearly Salary (Dollar)'],
            "pension": row['Yearly Pension (Dollar)'],
            "commute_distance": row['Distance Commuted to Work (Km)'],

            "vehicle": {
                "make": row.get("Vehicle Make"),
                "model": row.get("Vehicle Model"),
                "year": row['Vehicle Year'],
                "type": row.get("Vehicle Type")
            },
            "credit_card": {
                "start_date": row.get("Credit Card Start Date"),
                "end_date": row.get("Credit Card Expiry Date"),
                "number": row.get("Credit Card Number"),
                "security_code": row.get("Credit Card CVV"),
                "iban": row.get("Bank IBAN")
            },
            "address": {
                "address": row.get("Address Street"),
                "city": row.get("Address City"),
                "postcode": row.get("Address Postcode")
            }
        }

        return record

    except Exception as e:
        print(f"Error transforming row: {e}")
        return None

> Cleaning the 'Dependants' Column

The `dependants` field contains some missing or empty values (`""`, `" "`), which may cause issues during type conversion. These values are replaced with a meaningful default value (`0`). A list of the row numbers where such corrections occur is printed as required.

In [168]:
# Fix dependants column and log rows with the issue
fixed_dependants = []

for index, row in enumerate(data):
    val = row.get("Dependants", 0)
    if val == "":
        row['Dependants'] = 0
        fixed_dependants.append(index)
    else:
        row['Dependants'] = int(row.get('Dependants', 0)) if row.get('Dependants') else 0

print(f"‚úÖ Fixed rows for dependants: {fixed_dependants}")

‚úÖ Fixed rows for dependants: [21, 109, 179, 205, 270, 272, 274, 358, 460, 468, 579, 636, 679, 725, 822, 865, 917, 931, 983]

In [170]:
# Apply the transformation to all records
transformed_data = [transform_record(row) for row in data if transform_record(row)]

# Preview result
print("Example Transformed Record:")
print(json.dumps(transformed_data[0], indent=2))

Example Transformed Record:
{
  "first_name": "Kieran",
  "last_name": "Wilson",
  "sex": "Male",
  "age": 89,
  "marital_status": "married or civil partner",
  "dependants": 3,
  "employer": null,
  "retired": true,
  "salary": 72838.0,
  "pension": 7257.0,
  "commute_distance": 0.0,
  "vehicle": {
    "make": "Hyundai",
    "model": "Bonneville",
    "year": 2009,
    "type": "Pickup"
  },
  "credit_card": {
    "start_date": "08/18",
    "end_date": "11/27",
    "number": "676373692463",
    "security_code": "875",
    "iban": "GB62PQKB71416034141571"
  },
  "address": {
    "address": "70 Lydia isle",
    "city": "Lake Conor",
    "postcode": "S71 7XZ"
  }
}

### üíæ Task 4 ‚Äì Save All Transformed Records to processed.json

After successfully transforming the flat CSV records into a nested dictionary structure, I am now saving the full dataset to a file named `processed.json`.

This file contains a list of dictionaries where each dictionary represents a single customer. The format follows the JSON structure outlined in the appendix of the assignment brief, including nested fields for `vehicle`, `credit_card`, and `address`.

The output is saved using the built-in `json` module with indentation for better readability.

In [176]:
# Saving my transformed dataset to processed.json

output_file = "processed.json"

try:
    with open(output_file, mode="w") as f:
        json.dump(transformed_data, f, indent=2)
    print(f"‚úÖ Successfully wrote {len(transformed_data)} records to {output_file}")
except Exception as e:
    print(f"Failed to write to {output_file}: {e}")

‚úÖ Successfully wrote 1000 records to processed.json

### Task 5 ‚Äì Saving Retired and Employed Customers
Now that I have a clean list of transformed records (`transformed_data`), I want to separate customers into two groups:

To keep my notebook organized and reusable, I decided to wrap the filtering logic into a class called `CustomerFilter`.

This class makes it easier to:
- Filter customer records based on conditions
- Save filtered results to specific JSON files
- Extend the logic for other filtering tasks later when needed

> The class includes methods for handling retired and employed customers.

In [210]:
# CustomerFilter class to organize my filtering logic

class CustomerFilter:
    def __init__(self, data):
        self.data = data

    def is_retired(self, redord):
        """Checks if a customer is retired.
        Returns True if the customer is retired, False otherwise.
        """
        return bool(redord.get("retired"))

    def is_employed(self, redord):
        """Checks if a customer is employed.
        Returns True if the customer is employed, False otherwise.
        """
        employer = redord.get("employer")
        return employer and employer != 0

    def save_filtered_records(self, condition_function, filename):
        """
        Filters self.data using condition_function and saves to a JSON file.
        """
        try:
            filtered = [record for record in self.data if condition_function(record)]
            with open(filename, "w") as f:
                json.dump(filtered, f, indent=2)
            print(f"‚úÖ I saved {len(filtered)} records to {filename}")
            # to show numbers of retired customers from total
            print(f"This shows that out of {len(data)} customers - {len(filtered)} are {(condition_function.__name__).split('_')[1]}.")

        except Exception as e:
            print(f"Error saving {filename}: {e}")

In [211]:
# Use the class to save the required files
# Create filter instance
filterer = CustomerFilter(transformed_data)

In [212]:
# Save retired customers
filterer.save_filtered_records(filterer.is_retired, "retired.json")

‚úÖ I saved 246 records to retired.json
This shows that out of 1000 customers - 246 are retired.

In [213]:
# Save retired customers
filterer.save_filtered_records(filterer.is_employed, "employed.json")

‚úÖ I saved 754 records to employed.json
This shows that out of 1000 customers - 754 are employed.

### Task 6 ‚Äì Flagging Credit Card Issues (Over 10-Year Gaps)

The client mentioned there may be data quality issues with some credit card entries ‚Äî specifically where the time span between the **start date** and **expiry date** exceeds **10 years**.

The dates are in credit card format (`MM/YY`), so I wrote a function that accepts a single row from the raw CSV data, parses both dates, and checks if the difference is more than 10 years.

> Any customer flagged by this function will be saved to `remove_ccard.json`.

In [214]:
def has_invalid_cc_date(row):
    """
    Accepts a raw CSV row and returns True if the credit card
    duration exceeds 10 years (based on MM/YY format).
    """
    start = row.get("Credit Card Start Date", "")
    end = row.get("Credit Card Expiry Date", "")

    try:
        start_dt = datetime.strptime(start, "%m/%y")
        end_dt = datetime.strptime(end, "%m/%y")
        duration_years = (end_dt.year - start_dt.year) + ((end_dt.month - start_dt.month) / 12)
        return duration_years > 10
    except Exception as e:
        print(f"‚ö†Ô∏è Skipping row due to date parsing error: {e}")
        return False

In [216]:
# Extract and transform only the rows with invalid credit card durations
flagged_cc_customers = [transform_record(row) for row in data if has_invalid_cc_date(row) and transform_record(row)]

In [218]:
# Save to remove_ccard.json
try:
    with open("remove_ccard.json", "w", encoding="utf-8") as f:
        json.dump(flagged_cc_customers, f, indent=2)
    print(f"‚úÖ I saved {len(flagged_cc_customers)} flagged records to remove_ccard.json")
    print(f"This shows that out of {len(data)} customers - {len(flagged_cc_customers)} are having credit card issues.")
except Exception as e:
    print(f"Failed to write remove_ccard.json: {e}")

‚úÖ I saved 252 flagged records to remove_ccard.json
This shows that out of 1000 customers - 252 are having credit card issues.

### Task 7 ‚Äì Salary per Commute Distance (Salary-Commute Metric)

To support customer ranking based on financial efficiency, I‚Äôve added a new metric called `Salary-Commute`. This measures how much a customer earns per kilometre of their commute.

Here's how I calculated it:
- If a customer commutes **more than 1 km**, I divide their salary by the commute distance.
- If they commute **1 km or less**, I simply assign their full salary as the `Salary-Commute` value.

> After calculating this for all customers, I sorted the list in ascending order and saved it to `commute.json`.

In [219]:
#  Step 1: Load from processed.json
try:
    with open("processed.json", "r", encoding="utf-8") as f:
        processed_records = json.load(f)
except Exception as e:
    print(f"Couldn't read processed.json: {e}")
    processed_records = []

In [220]:
# Step 2: Add salary-commute metric
for person in processed_records:
    salary = person.get("salary", 0)
    commute = person.get("commute_distance", 0)

    try:
        salary = float(salary)
        commute = float(commute)

        if commute > 1:
            person["Salary-Commute"] = round(salary / commute, 2)
        else:
            person["Salary-Commute"] = round(salary, 2)

    except Exception as e:
        print(f"‚ö†Ô∏è Error calculating salary_commute for person: {e}")
        person["Salary-Commute"] = salary  # fallback to just salary

In [221]:
# Step 3: Sort records in ascending order
sorted_records = sorted(processed_records, key=lambda x: x.get("Salary-Commute", float("inf")))

In [222]:
# Step 4: Save to commute.json
try:
    with open("commute.json", "w", encoding="utf-8") as f:
        json.dump(sorted_records, f, indent=2)
    print(f"‚úÖ I saved {len(sorted_records)} sorted records to commute.json")
except Exception as e:
    print(f"Failed to save commute.json: {e}")

‚úÖ I saved 1000 sorted records to commute.json